<!DOCTYPE html>
<html>
    {% extends 'registration/base.html' %}
    {% block content %}
    {% load static %}
    <head>
        <title>{% block title %}login page{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/log1.css' %}">
    </head>
    <style>
        body{background: url("../static/images/log.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;}
    </style>
    
    <body onload="mess()">
        {% if messages %}
        {% for i in messages %}
        <script>
            function mess(){
                alert("{{i}}");
            }
        </script>
        {% endfor %}
        {% endif %}
        <div class="container">
            <div class = "form">
                <form method="post">
                    <h1 style=font-style:oblique;color:wheat;margin-left:15%;margin-bottom:20%;>login here</h1>
                    <div class =  "main">
                        {{log.as_p}}
                        {% csrf_token %}
                        <input type="submit" value="Verify"><br><br>
                        <a href="/forgot">Forgot password?</a>
                        <h4 style="font-style: oblique;font-weight: bolder;margin-left:-5%;color: wheat;">*For new user kindly need to register first.</h4>
                        <a href="/register" ><input type="button" value="Signup"></a>
                    </div>
                </form>
            </div>
        </div>
    </body>
        {% endblock %}
</html>