<!DOCTYPE html>
<html>
    {% extends 'registration/base.html' %}
    {% block content %}
    {% load static %}
    <head>
        <title>{% block title %}my page{% endblock %}</title>
    </head>    
    <body>
      <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px; 
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      
      </style>
      
        <h1 class="text-light"><span>Your Collections {{username}}</span><a href="{% url 'home' %}" style="margin-left:40%;text-decoration: none;font-size :70%;">Home</a><a href="/bookadd/{{username}}" style="margin-left:5%;text-decoration: none;font-size :70%;">Add Review</a><a href="{% url 'logout' %}" style="margin-left:5%;text-decoration: none;font-size :70%;">Logout</a></h1>
        <table>
        <tbody>
               <tr>
                 <th>Image</th>
                 <th>BookName</th>
                 <th>Bookauthor</th>
                 <th>Reviewauthor</th>
                 <th>Booktype</th>
                 <th>Sourcefile</th>
                 <th>created time</th>
                 <th>modified time</th>
                 <th>Edit</th>
                 <th>Delete</th>
               </tr>
               {% for name in name  %}
               <tr>
                 <td> <img src="{{ name.bookimg.url }}" alt="{{ name.bookimg }}" height="100" width="100"></td>
                 <td>{{ name.bookname }}</td>
                 <td>{{ name.bookauthor }}</td>
                 <td>{{ name.reviewauthor }}</td>
                 <td>{{ name.booktype }}</td>
                 <td> <audio controls controlsList="nodownload">
                  <source src= "{{name.bookfile.url}}" type="audio/mpeg">
                </audio></td>
                 <td>{{ name.createdatetime }}</td>
                 <td>{{ name.modifieddatetime }}</td>
                 <td><a href="/bookupdate/{{name.bookname}}/{{name.user_id}}"><button class="btn info">Edit</button></a></td>
                 <td><a href="/bookdelete/{{name.bookname}}/{{name.user_id}}"><button class="btn danger">Delete</button></a></td>
                </tr>
              {% endfor %}
       </tbody>
     </table>
   </body>
   {% endblock %}
</html>