<!DOCTYPE html>
<html>
    {% extends 'registration/base.html' %}
    {% block content %}
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}update page{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/bookadd.css' %}">
    </head>
    <body onload="mess()">
        {% if messages %}
        {% for message in messages %}
        <script>
            function mess(){
            alert("{{message}}");
            }
        </script>
        {% endfor %}
        {% endif %}
    <style>
        .banner{
            background-image: url("{% static 'images/back.jpg' %}"); 
        }
    </style>
    <div class="testbox">
    <form method="post" action="/bookupdate/{{bname}}/{{id}}" enctype="multipart/form-data" name="updateform">
        {% csrf_token %}
      <div class="banner">
      </div>
      <br/>
      <fieldset>
        <legend>Update Form</legend>
        <div class="colums">
          <div class="item">
            <label for="districtname">Book Id<span>*</span></label><br>
            <input type="number" name="id" value="{{id}}" readonly>
          </div>
          <div class="item">
            <label for="districtname">Book Name<span>*</span></label><br>
            <input type="text" name="bookname" value="{{bname}}" required>
          </div>
          <div class="item">
            <label for="nitrogen">Book Author<span>*</span></label><br>
            <input type="text" name = "bookauthor" value="{{bauthor}}" required>
          </div>
          <div class="item">
            <label for="phosphorus">Review Author<span>*</span></label><br>
            <input type="text" name="reviewauthor" value="{{rauthor}}" required>
          </div>
          <div class="item">
            <label for="potassium">Book Type<span>*</span></label><br>
            <select name="booktype" required id="id_booktype">
                <option value="{{type}}" selected>{{type}}</option>
              
                <option value="Fantasy">Fantasy</option>
              
                <option value="Romance novel">Romance novel</option>
              
                <option value="Autobiography">Autobiography</option>
              
                <option value="Biography">Biography</option>
              
                <option value="Mystery">Mystery</option>
              
                <option value="Memoir">Memoir</option>
              
                <option value="Horror">Horror</option>
              
                <option value="Philosophy">Philosophy</option>
              
                <option value="CookBook">CookBook</option>
              
                <option value="Children&#x27;s literature">Children&#x27;s literature</option>
              
                <option value="Anthology">Anthology</option>
              
                <option value="Nonfiction">Nonfiction</option>
              
                <option value="Short story">Short story</option>
              
                <option value="Crime">Crime</option>
              
                <option value="Encyclopedia">Encyclopedia</option>
              
                <option value="Dairy">Dairy</option>
              
                <option value="Politics">Politics</option>
              
                <option value="Biblophile">Biblophile</option>
              
                <option value="Fable">Fable</option>
              
                <option value="Fiction">Fiction</option>
              
            </select>
        </div>
      </fieldset>
      <br/>
      <div class="btn-block">
      <button type="order">Submit</button>
      <button type="reset">Reset</button>
      </div>
    </form>
    </div>
  </body>
  {% endblock %}
</html>