input[type="email"],input[type = "password"]{
    font-size: 15px;
    border: 20px wheat;
    width: 250px;
    height:30px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    font-style:oblique;
    
}
input[type="submit"]{
    margin-top:20px;
    margin-left:9.5%;
    padding:10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color:wheat;
}
a{

    margin-left: 12%;
    font-size: 20px;
    color:wheat;
    text-decoration: none;
}
.form{
    transform: translate(18%,0%);
    position: relative;
}
.main{
    transform: translate(0%,-20%);
    position: relative;
}
.container{
    transform: translate(93%,115%);
    margin-top: -400px;
    position: relative;
    width: 30%;
    background-color:rgba(7, 7, 3, 0.856);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 10px rgb(0, 0, 0);

}
input[type = "submit"]:hover{
    background-color: rgb(107, 243, 107);
    color: black;
}
input[type = "button"]:hover{
    background-color: rgb(80, 212, 235);
    color: black;
}
a:hover{
    color: rgb(240, 218, 96);
}